<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">{{ name }}'s To Do List</h1>
      <h3 id="taskstitle">Today's Tasks:</h3>
    </div>
  </div>
  <p *ngFor="let chore of todos; index as i" (click)="myFunction(chore)">
      <i class="far fa-edit" (click) = "editTodo(chore)">  </i> {{ chore }}
      <i class="far fa-trash-alt" (click)="deleteTodo(chore)"> </i>


     <div> <input [(ngModel)]="todoInput">
      <button class="btn btn-info" (click) = "addTodo()"> Add New Todo </button>
      </div>

    

