button {
    background-color: blue;
}
button:hover { 
    background-color: cyan;
}
h1 {
    color: #999;
}
#taskstitle {
    color: #777;
    border-bottom: 4px solid cyan;
    margin: 10px 44px 29px 30px;
    padding: 5px 10px 5px 0;
    position: relative;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}